/* basic css reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

/* place event description in middle grid area */
.description {
  grid-area: middle;
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

/* place hour div in left grid area */
.hour {
  grid-area: left;
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* use black text in past timeblocks */
.past {
  background-color: #d3d3d3;
  color: #000000;
}

/* use black text in present timeblocks */
.present {
  background-color: #ff6961;
  color: #000000;
}

/* use black text in future timeblocks */
.future {
  background-color: #77dd77;
  color: #000000;
}

/* place save buttons in right grid area */
.saveBtn {
  grid-area: right;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

/* remove hover effect */
/* .saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
} */

/* change button color on hover */
.saveBtn:hover {
  background-color: #006880;
}

/* add grid display to timeblocks */
/* specify grid columns, rows, and areas */
.time-block {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "left middle right";
}